<nav class="app-navbar">
  <ul>
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"># Home</a></li>
    <li><a routerLink="/company-accounts" routerLinkActive="active"># Company Info</a></li>
    <li><a routerLink="/employee" routerLinkActive="active"># Employee Info</a></li>
    <li><a routerLink="/bank-accounts" routerLinkActive="active"># Bank Info</a></li>
    <li><a routerLink="/salary-payment" routerLinkActive="active"># Salary Payment</a></li>
  </ul>
</nav>
